# Copier en .env et remplir. Ne jamais committer .env.

# PostgreSQL
POSTGRES_USER=honeypot
POSTGRES_PASSWORD=change_me_strong
POSTGRES_DB=honeypot
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Analyzer API
ANALYZER_URL=http://analyzer:8000

# Enrichissement Threat Intel (quotas fournis par l'école)
ABUSEIPDB_API_KEY=
GEOIP_DB_PATH=/data/geoip/GeoLite2-City.mmdb

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=change_me_admin
